<h3 class="h3 text-center mb-4">Add Account</h3>
<div class="row row-cols-md-1 row-cols-md-2">
    <div class="col-md">
        <img id="productPhoto" src="~/images/Image_not_available.png" class="img-thumbnail" alt="No Image" style="height:230px;" />
        <input type="file" class="form-control mt-1" id="productPhotoFile" name="productImageFile" accept="image/*" />
        <input type="hidden" id="productPhotoUrl" value="" />
    </div>
    <div class="col-md">
        <div class="input-group mb-4">
            <span class="input-group-text">Name</span>
            <input type="text" id="productNameId" class="form-control" placeholder="Account Name" />
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">Balance</span>
            <input type="number" id="productPriceId" class="form-control" placeholder="0.00" />
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="" id="Is Active?" />
            <label class="form-check-label" for="isAvailableId">
                Is Active?
            </label>
        </div>
        <div class="input-group mb-4">
            <label class="input-group-text" for="modelSelect">Type</label>
            <select class="form-select" id="modelSelect" asp-items="ViewBag.Models">
                <option selected disabled>Choose...</option>
            </select>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">DOB</span>
            <input type="date" id="productDateId" class="form-control" />
        </div>
    </div>
</div>
<button id="addProductButton" type="button" class="btn btn-info col-md-12">Add Account</button>